absl-py==1.4.0
accelerate==1.1.1
aiohappyeyeballs==2.4.3
aiohttp==3.11.2
aiosignal==1.3.1
alabaster==1.0.0
albucore==0.0.19
albumentations==1.4.20
altair==4.2.2
annotated-types==0.7.0
anyio==3.7.1
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
array_record==0.5.1
arviz==0.20.0
astropy==6.1.6
astropy-iers-data==0.2024.11.18.0.35.2
astunparse==1.6.3
async-timeout==4.0.3
atpublic==4.1.0
attrs==24.2.0
audioread==3.0.1
autograd==1.7.0
babel==2.16.0
backcall==0.2.0
beautifulsoup4==4.12.3
bigframes==1.27.0
bigquery-magics==0.4.0
bleach==6.2.0
blinker==1.9.0
blis==0.7.11
blosc2==2.7.1
bokeh==3.6.1
Bottleneck==1.4.2
bqplot==0.12.43
branca==0.8.0
CacheControl==0.14.1
cachetools==5.5.0
catalogue==2.0.10
certifi==2024.8.30
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.0
chex==0.1.87
clarabel==0.9.0
click==8.1.7
cloudpathlib==0.20.0
cloudpickle==3.1.0
cmake==3.30.5
cmdstanpy==1.2.4
colorcet==3.1.0
colorlover==0.3.0
colour==0.1.5
community==1.0.0b1
confection==0.1.5
cons==0.4.6
contourpy==1.3.1
cryptography==43.0.3
cuda-python==12.2.1
cudf-cu12 @ https://pypi.nvidia.com/cudf-cu12/cudf_cu12-24.10.1-cp310-cp310-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl
cufflinks==0.17.3
cupy-cuda12x==12.2.0
cvxopt==1.3.2
cvxpy==1.5.4
cycler==0.12.1
cymem==2.0.8
Cython==3.0.11
dask==2024.10.0
datascience==0.17.6
db-dtypes==1.3.1
dbus-python==1.2.18
debugpy==1.8.0
decorator==4.4.2
defusedxml==0.7.1
Deprecated==1.2.15
diffusers==0.31.0
distro==1.9.0
dlib==19.24.2
dm-tree==0.1.8
docker-pycreds==0.4.0
docstring_parser==0.16
docutils==0.21.2
dopamine_rl==4.0.9
duckdb==1.1.3
earthengine-api==1.2.0
easydict==1.13
ecos==2.0.14
editdistance==0.8.1
eerepr==0.0.4
einops==0.8.0
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl#sha256=86cc141f63942d4b2c5fcee06630fd6f904788d2f0ab005cce45aadb8fb73889
entrypoints==0.4
et_xmlfile==2.0.0
etils==1.10.0
etuples==0.3.9
eval_type_backport==0.2.0
exceptiongroup==1.2.2
fastai==2.7.18
fastcore==1.7.20
fastdownload==0.0.7
fastjsonschema==2.20.0
fastprogress==1.0.3
fastrlock==0.8.2
filelock==3.16.1
firebase-admin==6.5.0
Flask==3.0.3
flatbuffers==24.3.25
flax==0.8.5
folium==0.18.0
fonttools==4.55.0
frozendict==2.4.6
frozenlist==1.5.0
fsspec==2024.10.0
future==1.0.0
gast==0.6.0
gcsfs==2024.10.0
GDAL==3.6.4
gdown==5.2.0
geemap==0.35.1
gensim==4.3.3
geocoder==1.38.1
geographiclib==2.0
geopandas==1.0.1
geopy==2.4.1
gin-config==0.5.0
gitdb==4.0.11
GitPython==3.1.43
glob2==0.7
google==2.0.3
google-ai-generativelanguage==0.6.10
google-api-core==2.19.2
google-api-python-client==2.151.0
google-auth==2.27.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
google-cloud-aiplatform==1.71.1
google-cloud-bigquery==3.25.0
google-cloud-bigquery-connection==1.16.1
google-cloud-bigquery-storage==2.27.0
google-cloud-bigtable==2.27.0
google-cloud-core==2.4.1
google-cloud-datastore==2.20.1
google-cloud-firestore==2.19.0
google-cloud-functions==1.18.1
google-cloud-iam==2.16.1
google-cloud-language==2.15.1
google-cloud-pubsub==2.27.1
google-cloud-resource-manager==1.13.1
google-cloud-storage==2.8.0
google-cloud-translate==3.17.0
google-colab @ file:///colabtools/dist/google_colab-1.0.0.tar.gz
google-crc32c==1.6.0
google-generativeai==0.8.3
google-pasta==0.2.0
google-resumable-media==2.7.2
googleapis-common-protos==1.66.0
googledrivedownloader==0.4
graphviz==0.20.3
greenlet==3.1.1
grpc-google-iam-v1==0.13.1
grpcio==1.68.0
grpcio-status==1.62.3
gspread==6.0.2
gspread-dataframe==3.3.1
gym==0.25.2
gym-notices==0.0.8
h11==0.14.0
h5netcdf==1.4.1
h5py==3.12.1
holidays==0.61
holoviews==1.20.0
html5lib==1.1
httpcore==1.0.7
httpimport==1.4.0
httplib2==0.22.0
httpx==0.27.2
huggingface-hub==0.26.2
humanize==4.11.0
hyperopt==0.2.7
ibis-framework==9.2.0
idna==3.10
imageio==2.36.0
imageio-ffmpeg==0.5.1
imagesize==1.4.1
imbalanced-learn==0.12.4
imgaug==0.4.0
immutabledict==4.2.1
importlib_metadata==8.5.0
importlib_resources==6.4.5
imutils==0.5.4
inflect==7.4.0
iniconfig==2.0.0
intermediate==0.1.0
intervaltree==3.1.0
ipykernel==6.24.0
ipython==8.14.0
ipython-genutils==0.2.0
isort==5.13.2
itsdangerous==2.2.2
jax==0.8.26
jaxlib==0.8.26
jdcal==1.4.1
jedi==0.18.2
jeepney==0.8.0
jinja2==3.1.2
joblib==1.3.2
jupyter-client==8.3.0
jupyter-console==6.6.3
jupyter-core==5.3.1
jupyterlab==4.2.2
jupyterlab-pygments==0.2.2
jupyterlab-server==2.22.0
kaggle==1.5.16
keras==2.16.0
keras-api==2.16.0
kiwisolver==1.4.6
kornia==0.6.12
kurt==0.1.0
libcudf-cu12 @ https://pypi.nvidia.com/cudf-cu12/libcudf_cu12-24.10.1-cp310-cp310-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl
lima==0.2.1
llvmlite==0.40.1
loguru==0.6.0
lxml==4.9.3
mako==1.2.4
manim==0.17.0
markdown==3.4.3
matplotlib==3.8.0
matplotlib-inline==0.1.6
mecab-python3==1.0.8
mediapipe==0.10.0
memory-profiler==0.61
missingno==0.5.1
mlflow==2.7.0
mock==5.0.2
monotonic==1.5
more-itertools==9.1.0
mpmath==1.3.0
msgpack==1.0.5
multidict==6.0.4
munch==2.5.0
mxnet==2.2.0
nbclassic==0.5.5
nbsphinx==0.8.0
nbstripout==0.5.0
netCDF4==1.6.4
networkx==3.1
nltk==3.8.1
notebook==7.7.0
notebook-shim==0.2.3
notebookutil==1.5.5
numba==0.58.0
numpy==1.24.0
nvidia-pyindex==1.0.9
oauth2client==4.1.3
opencv-contrib-python==4.7.0.72
openpyxl==3.1.3
opt-einsum==3.3.0
packaging==23.2
pandas==1.5.4
pandas-gbq==0.19.5
pandas-stubs==2.0.3
parso==0.8.3
partd==1.3.0
pathlib2==2.3.7
pex==2.2.1
pillow==9.6.0
pip==23.2.1
platformdirs==3.11.0
plotly==5.14.1
ply==3.11
preshed==3.0.9
protobuf==4.23.3
psutil==5.9.4
pyasn1==0.5.0
pyarrow==13.0.0
pycocotools==2.0.5
pycryptodome==3.17
pydeck==0.8.0
pyelftools==0.3.2
pyfiglet==0.8.post1
pynvml==11.5.0
pyodbc==4.0.34
pyparsing==3.2.1
pyplot3d==0.0.8
pyranges==0.0.7
pyspark==3.5.0
pytest==7.3.2
pytest-xdist==2.5.0
pyyaml==6.0
qtconsole==5.5.2
ray==2.9.0
redis==4.6.2
requests==2.31.0
requests-file==1.5.1
requests-oauthlib==1.3.1
rich==13.5.2
rsa==4.9
scikit-image==0.21.0
scikit-learn==1.3.2
scipy==1.11.3
seaborn==0.12.2
seqeval==1.2.2
sh==2.2.0
shap==0.42.0
simplejson==3.19.3
six==1.16.0
sklearn==0.0
smart-open==6.0.0
smmap==5.0.0
spacy==3.7.1
sphinx==7.4.0
sphinxcontrib-serializinghtml==1.1.7
sphinx_rtd_theme==1.1.2
spylls==0.3.0
SQLAlchemy==2.0.21
statsmodels==0.15.0
tensorboard==2.15.0
tensorflow==2.15.0
tensorflow-datasets==4.8.3
tensorflow-hub==0.14.0
tensorflow-keras==2.15.0
tensorflow-text==2.15.0
termcolor==2.3.0
thinc==8.1.10
tifffile==2024.10.0
torch==2.3.0
torchmetrics==0.11.0
torchtext==0.15.0
torchvision==0.15.0
tqdm==4.66.0
traitlets==5.9.0
transformers==4.33.0
typed-ast==1.5.4
typing-extensions==4.8.0
urllib3==1.26.16
wandb==0.15.8
webdriver-manager==4.8.0
webcolors==1.12
webencodings==0.5.1
whisper==2024.11.25
xarray==2024.10.0
xgboost==2.2.0
xlrd==2.0.1
yarl==1.9.3
zipp==3.15.0
zstandard==0.21.0
