yfinance
joblib==0.12.3
textblob
setuptools
absl-py
accelerate
aiohttp
albumentations
altair
anyio
attrs
beautifulsoup4
bleach
blis
bokeh
certifi
cloudpickle
flask
fastai
fastcore
filelock
geopandas
google-auth
google-api-core
google-cloud-storage
grpcio
h5py
jupyter-client
keras
matplotlib
numpy
pandas
plotly
requests
scikit-learn
scipy
streamlit
tensorflow
torch
tqdm
transformers
